
.main {
  height: auto;
  flex-grow: 1;
  background-color: black;
  color: black;
  padding:10px;

}

.toolBar {
  height: 10vh;
  flex-grow: 1;
  background-color: black;
  padding: 15px;

}

.logo {
  width: 65%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  /* padding-left: 10%; */
}

.doctor {
  width: 60%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 5%;
}
.gym {
  width: 80%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
}
.Bold {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 95px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  margin: 5%;
}

.smaller {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
  letter-spacing: -0.05em;
  color: white;
  margin: 1%;
}
