
.logo {
  width: 65%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

.hairdres {
  width: 80%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
}
.big {
margin-left: 10%;
}



